*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures

Software/Android Projects/Courses/AppDev Course/MPAndroidChart-master/MPAndroidChart-master/MPChartExample/.gitignore
Software/Android Projects/Courses/AppDev Course/MPAndroidChart-master/MPAndroidChart-master/.gitignore
Software/Android Projects/Courses/AppDev Course/MPAndroidChart-master/MPAndroidChart-master/MPChartExample/build.gradle
Software/Android Projects/Courses/AppDev Course/MPAndroidChart-master/MPAndroidChart-master/MPChartExample/project.properties
Software/Android Projects/Courses/AppDev Course/MPAndroidChart-master/MPAndroidChart-master/MPChartExample/src/com/xxmassdeveloper/mpchartexample/AnotherBarActivity.java
Software/Android Projects/Courses/AppDev Course/MaterialTimelineView-master/materialtimelineview/.gitignore
Software/Android Projects/Courses/AppDev Course/Login_template_02/app/src/main/java/design/nxn/login_template_02/BaseActivity.java
Software/Android Projects/Courses/Course 1/m5-assignment-birthday-probability-skeleton/app/src/main/java/mooc/vandy/java4android/birthdayprob/logic/LogicInterface.java
RecyclerView/
RecyclerViewSwipe/
Timeline/
Settings/
m2-MyApplicationForExample/
shapes/
Login_template_02/
androidTest/
birthdayprob/
diamonds/
support/
vandy/
debug-mergeJavaRes/
intermediates/
Software/Android Projects/Courses/Course 1/m5-assignment-birthday-probability-skeleton/app/src/main/java/mooc/vandy/java4android/birthdayprob/logic/Logic.java


gradlew
*.md

.*7z
*.dmg
.*gz
*.iso
*.jar
*.apk
*.zip
*.tar
*.exe
*.xml
*.prefs
*.json
*.txt
LICENSE
*.gradle
*.properties
*.yml
*.bat
*.pro
*.kt
*.gitignore
*.flat
Software/Android Projects/Courses/Course 2/m3-assignment-Downloader-Introduction
Software/Android Projects/Courses/Course 2/m4-assignment-HaMeRDownloader
Software/Android Projects/Courses/Course 2/m4-ImageDownloaderApp
Software/Android Projects/Courses/Course 2/m4-MapFromContactsAsync
Software/Android Projects/Courses/Course 2/m4-MapFromContactsHaMeR
Software/Android Projects/Courses/Course 2/m5-assg-AsyncTaskDownloader
Software/Android Projects/Courses/Course 2/m5-PingPongReceivers
Software/Android Projects/Courses/Course 2/m5-PingPongReceiversEx
Software/Android Projects/Courses/Course 2/m5-PingPongReceiversEx
