*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures

Software/Android Projects/Course/Login_template_02/app/src/main/java/design/nxn/login_template_02/BaseActivity.java
Software/Android Projects/Course/Login_template_02/app/src/main/java/design/nxn/login_template_02/customfonts/MyEditText.java
Software/Android Projects/Course/Login_template_02/app/src/main/java/design/nxn/login_template_02/customfonts/MySplashTextView.java
Software/Android Projects/Course/Login_template_02/app/src/main/java/design/nxn/login_template_02/customfonts/MyTextView.java
Software/Android Projects/Course/MPAndroidChart-master/MPAndroidChart-master/MPChartExample/.gitignore
Software/Android Projects/Course/MPAndroidChart-master/MPAndroidChart-master/.gitignore
Software/Android Projects/Course/MPAndroidChart-master/MPAndroidChart-master/MPChartExample/build.gradle
Software/Android Projects/Course/MPAndroidChart-master/MPAndroidChart-master/MPChartExample/project.properties
Software/Android Projects/Course/MPAndroidChart-master/MPAndroidChart-master/MPChartExample/src/com/xxmassdeveloper/mpchartexample/AnotherBarActivity.java
Software/Android Projects/Course/MaterialTimelineView-master/materialtimelineview/.gitignore
Software/Android Projects/Course/Login_template_02/app/src/main/java/design/nxn/login_template_02/BaseActivity.java


gradlew
*.md

.*7z
*.dmg
.*gz
*.iso
*.jar
*.apk
*.zip
*.tar
*.exe
*.xml
*.prefs
*.json
*.txt
LICENSE
*.gradle
*.properties
*.yml
*.bat
*.pro
*.kt
*.gitignore