*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures

Software/Android Projects/Courses/AppDev Course/MPAndroidChart-master/MPAndroidChart-master/MPChartExample/.gitignore
Software/Android Projects/Courses/AppDev Course/MPAndroidChart-master/MPAndroidChart-master/.gitignore
Software/Android Projects/Courses/AppDev Course/MPAndroidChart-master/MPAndroidChart-master/MPChartExample/build.gradle
Software/Android Projects/Courses/AppDev Course/MPAndroidChart-master/MPAndroidChart-master/MPChartExample/project.properties
Software/Android Projects/Courses/AppDev Course/MPAndroidChart-master/MPAndroidChart-master/MPChartExample/src/com/xxmassdeveloper/mpchartexample/AnotherBarActivity.java
Software/Android Projects/Courses/AppDev Course/MaterialTimelineView-master/materialtimelineview/.gitignore
Software/Android Projects/Courses/AppDev Course/Login_template_02/app/src/main/java/design/nxn/login_template_02/BaseActivity.java
Software/Android Projects/Courses/Course 1/m5-assignment-birthday-probability-skeleton/app/src/main/java/mooc/vandy/java4android/birthdayprob/logic/LogicInterface.java
Software/Android Projects/Personal Apps/GPAMapper/app/src/main/java/com/devul/GPAMapper/app/CustomFonts/MySplashTextView.java
Software/Android Projects/Personal Apps/GPAMapper/app/src/main/java/com/devul/GPAMapper/app/CustomFonts/MyEditText.java
Software/Android Projects/Personal Apps/GPAMapper/app/src/main/java/com/devul/GPAMapper/app/CustomFonts/MyTextView.java
Software/Java/Duke University/3. Arrays, Lists, & Structured Data/Weeks/1. Cryptography/Programs/BreakingTheCaesarCipher/CaesarCipher.java
Software/Java/Duke University/3. Arrays, Lists, & Structured Data/Weeks/1. Cryptography/Programs/CaesarCipher/CaesarCipher.java
Software/Java/Duke University/3. Arrays, Lists, & Structured Data/Weeks/1. Cryptography/Programs/CommonWords/CommonWords.java
Software/Java/Duke University/3. Arrays, Lists, & Structured Data/Weeks/1. Cryptography/Programs/Word Play/CaesarCipher.java
Software/Java/Duke University/3. Arrays, Lists, & Structured Data/Weeks/2. GladLibs/Programs/CodonCount/data/dnaMystery1.
Software/Java/Duke University/3. Arrays, Lists, & Structured Data/Weeks/2. GladLibs/Programs/CodonCount/data/dnaMystery2.
Software/Java/Duke University/3. Arrays, Lists, & Structured Data/Weeks/2. GladLibs/Programs/GladLib/GladLib.java
Software/Java/Duke University/3. Arrays, Lists, & Structured Data/Weeks/3. Web Server Logs/Programs/WebLogProgram/short-test_log.
Software/Java/Duke University/3. Arrays, Lists, & Structured Data/Weeks/3. Web Server Logs/Programs/WebLogProgram/weblog-short_log.
Software/Java/Duke University/3. Arrays, Lists, & Structured Data/Weeks/3. Web Server Logs/Programs/WebLogProgram/weblog1_log.
Software/Java/Duke University/3. Arrays, Lists, & Structured Data/Weeks/3. Web Server Logs/Programs/WebLogProgram/weblog2-short_log.
Software/Java/Duke University/3. Arrays, Lists, & Structured Data/Weeks/4. MiniProject - Vigenère Cipher/Programs/CaesarCipher.java
Software/Java/Duke University/3. Arrays, Lists, & Structured Data/Weeks/4. MiniProject - Vigenère Cipher/Programs/CaesarCracker.java
Software/Java/Duke University/3. Arrays, Lists, & Structured Data/Weeks/4. MiniProject - Vigenère Cipher/Programs/VigenereBreaker.java
Software/Java/Duke University/3. Arrays, Lists, & Structured Data/Weeks/4. MiniProject - Vigenère Cipher/Programs/VigenereCipher.java
Software/Java/Duke University/4. Principles of Software Design/Weeks/1. Interfaces/Programs/EarthquakeFilterStarterProgram/EarthQuakeParser.java




CodonCount/
dictionaries/
3. Web Server Logs/
RecyclerView/
RecyclerViewSwipe/
Timeline/
Settings/
m2-MyApplicationForExample/
shapes/
Login_template_02/
androidTest/
birthdayprob/
diamonds/
support/
vandy/
debug-mergeJavaRes/
intermediates/
Software/Android Projects/Courses/Course 1/m5-assignment-birthday-probability-skeleton/app/src/main/java/mooc/vandy/java4android/birthdayprob/logic/Logic.java
Software/Java/Duke University/1. JavaScript, HTML, & CSS/Useful Websites/Programming Foundations with JavaScript, HTML and CSS _ Coursera_files/946401778754875
Software/Java/Duke University/1. JavaScript, HTML, & CSS/Useful Websites/Devul on CodePen_files/css
gradlew
*.md
*.pdf
*.atom
.*7z
*.dmg
.*gz
*.iso
*.jar
*.apk
*.zip
*.tar
*.exe
*.xml
*.prefs
*.json
*.txt
LICENSE
*.gradle
*.properties
*.html
*.css
*.download
*.jpg
*.png
*.jpeg
*.yml
*.bat
*.pro
*.kt
*.gitignore
*.flat
*.svg
*.eps
*.csv
Software/Android Projects/Courses/Course 2/m3-assignment-Downloader-Introduction
Software/Android Projects/Courses/Course 2/m4-assignment-HaMeRDownloader
Software/Android Projects/Courses/Course 2/m4-ImageDownloaderApp
Software/Android Projects/Courses/Course 2/m4-MapFromContactsAsync
Software/Android Projects/Courses/Course 2/m4-MapFromContactsHaMeR
Software/Android Projects/Courses/Course 2/m5-assg-AsyncTaskDownloader
Software/Android Projects/Courses/Course 2/m5-PingPongReceivers
Software/Android Projects/Courses/Course 2/m5-PingPongReceiversEx
Software/Android Projects/Courses/Course 2/m5-PingPongReceiversEx
Software/Java/Duke University/2. Solving Problems with Software/Weeks/3. CSV Files and Basic Statistics in Java/Parsing Weather Data/nc_weather/2012/weather-2012-01-01.csv
Software/Java/Duke University/4. Principles of Software Design/Weeks/1. Interfaces/Programs/EarthquakeFilterStarterProgram/Location.java
Software/Java/Duke University/4. Principles of Software Design/Weeks/1. Interfaces/Programs/EarthquakeFilterStarterProgram/QuakeEntry.java
Software/Java/Duke University/4. Principles of Software Design/Weeks/1. Interfaces/Programs/SearchingEarthquakeDataStarterProgram/ClosestQuakes.java
Software/Java/Duke University/4. Principles of Software Design/Weeks/1. Interfaces/Programs/SearchingEarthquakeDataStarterProgram/EarthQuakeParser.java
Software/Java/Duke University/4. Principles of Software Design/Weeks/1. Interfaces/Programs/SearchingEarthquakeDataStarterProgram/Location.java
Software/Java/Duke University/4. Principles of Software Design/Weeks/1. Interfaces/Programs/SearchingEarthquakeDataStarterProgram/QuakeEntry.java
EfficientSort/
FilterStart/
QuakeSortDemo/
SearchingData/
SortStart/
Software/Java/Duke University/4. Principles of Software Design/Weeks/2. Programming and Interfaces/Programs/TimeSortDemo/SortTimings.java
Interface/
RandomText/
WordGram/
WordNGram/
StepOneStarterProgram/
StepTwoRecommendedSystem/
TheCompleteRecommendedSystem/
StepThreeRecommendedSystem/
resources/
__MACOSX/
WordGramClassStarterProgram/
WordNGramStarterProgram/
Machine Learning/Object Detection/Rpi/
Machine Learning/Object Detection/Course/
Machine Learning/Object Detection/App/
